<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="homepageNav">
            <div class="navLeft">
                <a asp-controller="Home" asp-action="Homepage">
                    <img src="/Images/logoplaceholder.png" alt="bo" class="leftLogo" />
                </a>
                <a class="leftTitle" asp-area="" asp-controller="Home" asp-action="Homepage">Il mio titolo</a>
            </div>
            <ul class="navRight">
                <li>
                    <a class="" asp-area="" asp-controller="Account" asp-action="Profile">About</a>
                </li>
                @* Gestione dinamica Login/Register/Logout/Profile *@
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="">
                        <a class="" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                    </li>
                    <li class="">
                        <a class="" asp-area="" asp-controller="Account" asp-action="Logout">Logout (@User.Identity.Name)</a>
                    </li>
                }
                else
                {
                    <li class="">
                        <a class="" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                    <li class="">
                        <a class="" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                }
            </ul>
        </nav>
    </header>

    @RenderBody()

    <footer class="homepageFooter">
        <div class="container">
            &copy; 2025 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>