
<h1>Questa è la homepage.</h1>
<p>Scopri di più sui nostri servizi. <a asp-controller="Account" asp-action="Register">Registrati</a> o <a asp-controller="Account" asp-action="Login">Accedi</a> per iniziare.</p>