<div class="homepageIntro">
    <div class="introLeft">
        <p class="leftSubtitle">Powered by Arianna Franchetto</p>
        <div class="leftTop">
            <p class="topTitle">
                PAIGE
            </p>
            <p class="topParagraph">
                Because real life is overrated.
            </p>
        </div>
        <button class="leftButton">Try it now</button>
    </div>
    <div class="introRight">
        <img src="/Images/topo.svg" alt="Alternate Text" />
    </div>
</div>
    </header>
<div class="landingPageDivisor"></div>
<section class="featuresSection">
    <div class="AISection">
        <div class="sectionTop">
            <div class="aiIcon">
                <img src="/Images/ai.svg" alt="ai icon" />
            </div>
            <div class="topText">
                <p class="textTitle">Powered with AI</p>
                <p class="textParagraph">
                    This project leverages Natural Language Processing tecniques in order to encode book plots and find similarities among them.
                </p>
            </div>
        </div>
        <button class="sectionButton">Get Started</button>
    </div>
    <div class="reccomendationsSection">
        <div class="sectionTop">
            <div class="reccomendationsIcon">
                <img src="/Images/reccomendations.svg" alt="ai icon" />
            </div>
            <div class="topText">
                <p class="textTitle">Recommendations</p>
                <p class="textParagraph">
                    This project implements two recommendation tecniques: collaborative filtering and content-based recommendations.
                </p>
            </div>
        </div>
        <button class="sectionButton">Get Started</button>
    </div>
    <div class="ratingsSection">
        <div class="sectionTop">
            <div class="ratingsIcon">
                <img src="/Images/ratings.svg" alt="ai icon" />
            </div>
            <div class="topText">
                <p class="textTitle">Ratings</p>
                <p class="textParagraph">
                    The book ratings play a crucial role in this project. Without them it would not be possible to find similarities among the users.
                </p>
            </div>
        </div>
        <button class="sectionButton">Get Started</button>
    </div>
</section>